:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --paragraph-font: 15px;
}

body{
    background-color: var(--light-gray);
    width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.container{
    background-color: var(--white);
    width: 340px;
}

.qr-container{
    display: flex;
    justify-content: center;
}

img{
    width: 90%;
    margin: 17px;
    height: auto;
}

.container, img{
    border-radius: 17px;
}

h1{
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    margin: 0 50px;
    text-align: center;
    font-size: 21px;
    color: var(--dark-blue);
}

p{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    margin: 10px 50px;
    font-size: var(--paragraph-font);
    color: var(--grayish-blue);
    text-align: center;
}

@media only screen{

    body{
        background-color: var(--light-gray);
        width: 375px;
        height: 100vh;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
    }

    .container{
        background-color: var(--white);
        width: 340px;
    }


}

